<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">Menu</li>
      <!-- Optionally, you can add icons to the links -->
      <li><a routerLink="/"><i class="glyphicon glyphicon-home"></i> <span>Home</span></a></li>
      <li class="treeview">
        <a href="#"><i class="glyphicon glyphicon-dashboard"></i> <span>Dashboard</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        <ul class="treeview-menu">
          <li><a routerLink="/tdanalyzer" routerLinkActive="active">TD Analyzer</a></li>
          <li><a routerLink="/tdevolution" routerLinkActive="active">TD Evolution</a></li>
          <li><a routerLink="/tdmanagement" routerLinkActive="active">TD Management</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-database"></i> <span>Repositories</span>
          <small class="label pull-right bg-green">{{repositories?.length}}</small>
        </a>
        <ul class="treeview-menu">
          <li *ngFor="let repository of repositories">
            <a href="javascript:void(0)" (click)="setRepository(repository)">
              {{repository.name}}
            </a>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="glyphicon glyphicon-tags"></i> <span>Versions</span>
          <small class="label pull-right bg-green">{{references?.length}}</small>
        </a>
        <ul class="treeview-menu">
          <li *ngFor="let reference of references">
            <label class="control-sidebar-subheading filter-version-sub-item">
              <input type="checkbox" [checked]="isChecked(reference)" (change)="addReference(reference)">
              <span class="gray-medium">{{reference.name}}</span>
            </label>
          </li>
        </ul>
      </li>
    </ul>
    <div class="form-group" style="padding:10px; padding-top: 0px;">
        <button class="btn bg-olive btn-flat btn-filter-analyze sidebar-form" (click)="redirect()">ANALYZE</button>
    </div>
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
