<div class="modal-dialog modal-lg mx-auto">
  <div class="modal-content">

    <div class="modal-header modal-header-info">
      <h4 class="modal-title pull-left">{{tdItem.filename}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">

      <ul class="nav nav-tabs">
        <li>
          <button class="btn btn-link" [class.tab-active]="tabView === 'td_form'" (click)="updateView('td_form')">TD Form</button>
        </li>
        <li>
          <button class="btn btn-link" [class.tab-active]="tabView === 'td_timeline'" (click)="updateView('td_timeline')">TD Timeline</button>
        </li>
        <li>
          <button class="btn btn-link" [class.tab-active]="tabView === 'td_metrics_graph'" (click)="updateView('td_metrics_graph')">Metrics Graph</button>
        </li>
        <li>
          <button class="btn btn-link" [class.tab-active]="tabView === 'td_code_smells'" (click)="updateView('td_code_smells')">Code Smells</button>
        </li>
        <li>
          <button class="btn btn-link" [class.tab-active]="tabView === 'td_findbugs'" (click)="updateView('td_findbugs')">FindBugs</button>
        </li>
        <li>
          <button class="btn btn-link" [class.tab-active]="tabView === 'td_checkstyle'" (click)="updateView('td_checkstyle')">CheckStyle</button>
        </li>
      </ul>

      <div [ngSwitch]="tabView">
        <app-td-form *ngSwitchCase="'td_form'" [tdItem]="tdItem"></app-td-form>
        <app-td-timeline *ngSwitchCase="'td_timeline'" [tdItem]="tdItem"></app-td-timeline>
        <app-td-metrics-graph *ngSwitchCase="'td_metrics_graph'" [tdItem]="tdItem"></app-td-metrics-graph>
        <app-td-code-smells *ngSwitchCase="'td_code_smells'" [tdItem]="tdItem"></app-td-code-smells>
        <app-td-findbugs *ngSwitchCase="'td_findbugs'" [tdItem]="tdItem"></app-td-findbugs>
        <app-td-checkstyle *ngSwitchCase="'td_checkstyle'" [tdItem]="tdItem"></app-td-checkstyle>
      </div>

    </div>
  </div>
</div>
