.fields-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.message-container {
    text-align: justify;
    text-justify: inter-word;
}

.checkstyle-element:nth-child(even) {
    background-color: white;
}

.checkstyle-element:nth-child(odd) {
    background-color: #f9f9f9;
}
