<div *ngIf="!comments.length; then thenBlock else elseBlock"></div>

<ng-template #thenBlock>
    <div class="row" style="padding: 10px;">
        <div class="box box-solid box-success">
            <div class="box-header">
                <h3 class="box-title">No problems.</h3>
            </div>

            <div class="box-body">
                ExComment did not find problems in this file.
            </div>
        </div>
    </div>
</ng-template>

<ng-template #elseBlock>
    <div class="row" style="padding: 10px;">
        <table class="table table-bordered text-center comments-table">
            <thead style="background-color: #f9f9f9;">
                <tr>
                    <!--<td>ID</td>-->
                    <td class="col-md-5"><b>Comment</b></td>
                    <td class="col-md-2"><b>Class / Method</b></td>
                    <td class="col-md-5"><b>Patterns</b></td>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let comment of comments | paginate: { itemsPerPage: 5, currentPage: page }">
                    <!--<td>{{comment.id}}</td>-->
                    <td>{{comment.comment}}</td>
                    <td>
                        {{comment.class}}
                        <br> / <br>
                        {{comment.method}}
                    </td>
                    <td>
                        <table class="table table-bordered" *ngIf="comments.length > 0">
                            <thead>
                                <tr>
                                    <td><b>Name</b></td>
                                    <td><b>Score</b></td>
                                    <td><b>Theme</b></td>
                                    <td><b>TD</b></td>
                                </tr>
                            </thead>

                            <tbody>
                                <tr *ngFor="let pattern of comment.patterns">
                                    <td>{{pattern.name}}</td>
                                    <td>{{pattern.score}}</td>
                                    <td>{{pattern.theme}}</td>
                                    <td>{{pattern.tdtype}}</td>
                                </tr>
                                <tr>
                                    <td colspan="4"><b>Total Score =</b> {{comment.total_pattern}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>

        <div style="text-align: center;">
            <pagination-controls (pageChange)="page = $event"></pagination-controls>
          </div>
    </div>
</ng-template>
