<!-- Small boxes (Stat box) -->
<div class="row">
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-aqua">
        <div class="inner sb-inner-evolution text-center">
          <h3 class="sb-number">
              {{ references[sliderRange[0]].commitsLength }} → {{ references[sliderRange[1]].commitsLength }}</h3>
        </div>
        <div class="icon" style="font-size:70px">
          <i class="ion ion-pull-request"></i>
        </div>
        <a href="#" class="small-box-footer sb-footer-evolution">Commits <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div><!-- ./col -->
   
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-green">
        <div class="inner sb-inner-evolution text-center">
          <h3 class="sb-number" *ngIf="tdBoxes">
            {{ tdBoxes.classesTotal[0] }} → {{ tdBoxes.classesTotal[tdBoxes.classesTotal.length - 1] }}</h3>
        </div>
        <div class="icon" style="font-size:70px">
          <i class="ion ion-document"></i>
        </div>
        <a href="#" class="small-box-footer sb-footer-evolution">Files <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-yellow">
        <div class="inner sb-inner-evolution text-center">
          <h3 class="sb-number" *ngIf="tdBoxes">
            {{ tdBoxes.indicatorsTotal[0] }} → {{ tdBoxes.indicatorsTotal[tdBoxes.indicatorsTotal.length - 1] }}</h3>
        </div>
        <div class="icon" style="font-size:70px">
          <i class="ion ion-bug"></i>
        </div>
        <a href="#" class="small-box-footer sb-footer-evolution">Indicators <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-red">
        <div class="inner sb-inner-evolution text-center">
          <h3 class="sb-number" *ngIf="tdBoxes">
            {{ tdBoxes.debtsTotal[0] }} → {{ tdBoxes.debtsTotal[tdBoxes.debtsTotal.length - 1] }}</h3>
        </div>
        <div class="icon" style="font-size:70px">
          <i class="ion ion-social-usd"></i>
        </div>
        <a href="#" class="small-box-footer sb-footer-evolution">Debts <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div><!-- ./col -->
  </div><!-- /.row -->