<div *ngIf="!repository && !references.length; then thenBlock else elseBlock"></div>

<ng-template #thenBlock>
  <app-alert></app-alert>
</ng-template>

<ng-template #elseBlock>
<div class="content-wrapper">
  <section class="content-header">
    <h1>
      <i class="fa fa-database"></i>
      {{ repository.name }}
    </h1>
    <ol class="breadcrumb">
      <li class="active"><i class="fa fa-line-chart"></i> TD Evolution</li>
    </ol>
  </section>
      
  <section id="section-content" class="content">
    <nouislider id="slider"
                [config]="sliderConfig"
                [connect]="true"
                [behaviour]="drag"
                [step]="1"
                [min]="0"
                [max]="references.length - 1" 
                [(ngModel)]="sliderRange" 
                (change)="onChangeSlider($event)" 
                style="padding: 0 10px 40px 10px;"></nouislider>
    <tdevolution-boxes [sliderRange]="sliderRange" [references]="references" [tdBoxes]="tdBoxes"></tdevolution-boxes>
    <chart id="stacked-column-chart" [options]="chartConfig"></chart>
  </section>
</div>
</ng-template>