<div *ngIf="!repository && !references.length; then thenBlock else elseBlock"></div>

<ng-template #thenBlock>
<div class="content-wrapper">
  <section class="content">
    <div class="alert alert-warn-vmtd alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <i class="icon fa fa-hand-o-left"></i>Please, select the repository and at least one version in the left menu.
    </div>
  </section>
</div>
</ng-template>

<ng-template #elseBlock>
<div class="content-wrapper">
  <section class="content-header">
    <h1>
      <i class="fa fa-database"></i>
      {{ repository.name }}
    </h1>
    <ol class="breadcrumb">
      <li class="active"><i class="fa fa-line-chart"></i> TD Evolution</li>
    </ol>
  </section>
      
  <section id="section-content" class="content">
    <nouislider [config]="sliderConfig" [(ngModel)]="sliderRange" style="padding: 0 10px 40px 10px;"></nouislider>
    <tdevolution-boxes></tdevolution-boxes>
    <chart id="stacked-column-chart" [options]="chartConfig"></chart>
  </section>
</div>
</ng-template>