.select-indicators {
    color: black;
}
.select-indicators .c-token{
    background: #3c8dbc !important;
}
.select-indicators .pure-checkbox label::before {
    border-color: #3c8dbc !important;
}
.select-indicators .pure-checkbox input[type="checkbox"]:checked + label[_ngcontent-c1]:before {
    background: #194863 !important;
}