<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      TD Management
    </h1>
    <ol class="breadcrumb">
      <li>
        <a routerLink="../tdevolution" routerLinkActive="active">TD Evolution</a>
      </li>
      <li class="active">TD Management</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content" style="padding-top: 40px">

    <div class="form-group row" style="margin-left:10px;">
      <div class="col-md-1">
        <label class="control-label">Version:</label>
      </div>
      <div class="col-md-6">
        <select style="width: 100%;" class="form-control" [(ngModel)]="selectedReference" (change)="updateKanban()">
          <option *ngFor="let reference of references" [ngValue]="reference">{{reference.name}}</option>
        </select>
      </div>
    </div>

    <kanban-board title="TO DO" [tdItems]="tdItems" [count]="todoCount" (uploaded)="kanbanBoardEvent($event)"></kanban-board>
    <kanban-board title="DOING" [tdItems]="tdItems" [count]="doingCount" (uploaded)="kanbanBoardEvent($event)"></kanban-board>
    <kanban-board title="DONE" [tdItems]="tdItems" [count]="doneCount" (uploaded)="kanbanBoardEvent($event)"></kanban-board>
  </section>
  <!-- /.content -->

</div>