/* You can add global styles to this file, and also import other style files */
.gray-medium {
    color: #d2d6de;
}

.alert-warn-vmtd{
	background-color: #00C0EF;
	border-color: #00C0EF;
	color: white;
	font-size: 18px;
}

.wrap { 
	white-space: pre-wrap;      /* CSS3 */   
	white-space: -moz-pre-wrap; /* Firefox */    
	white-space: -pre-wrap;     /* Opera <7 */   
	white-space: -o-pre-wrap;   /* Opera 7 */    
	word-wrap: break-word;      /* IE */
 }
 