<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      TD Analyzer
      <small>Identify which classes have Technical Debt</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-line-chart"></i> TD Evolution</a></li>
      <li class="active">TD Analyzer</li>
    </ol>
  </section>
  <!-- Main content -->
  <section class="content">
    <app-td-filter (update)="updateTDItems($event)"></app-td-filter>

    <div class="box box-primary">
      <div class="box-header with-border">
        <i class="fa fa-database" style="font-size: 15px"></i>
        <h2 class="box-title">{{repository.name}}</h2>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
      </div>
      <!-- /.box-header -->

      <div class="box-body">
        <div class="form-group">
          <div class="col-md-1">
            <label class="control-label">Version:</label>
          </div>
          <div class="col-md-5">
            <select style="width: 100%;" class="form-control" [(ngModel)]="selectedReference" (change)="updateTDItems()">
              <option *ngFor="let reference of references" [ngValue]="reference">{{reference.name}}</option>
            </select>
          </div>
          <div class="col-md-3">
            <button class="btn bg-olive btn-flat btn-confirm-analyze-debt" (click)="confirmAllDebtsByReference()">
              Confirm All from Version
            </button>
          </div>
          <div class="col-md-3">
            <button class="btn bg-light-blue active btn-flat btn-confirm-analyze-debt" (click)="confirmAllDebtsByReference(filter)">
              Confirm All from Filter
            </button>
          </div>
        </div>

        <form class="form-inline" style="padding-top: 40px;">
          <div class="form-group col-lg-4 col-xs-6 col-md-4" style="padding-top: 10px; padding-bottom: 10px;" *ngFor="let file of files$ | async">
            <div class="box-analyzer-item">
              <div class="box-header with-border" style="border-bottom-color: rgba(38, 28, 92, 0.21);">
                <button type="button" class="btn btn-link box-title" title="{{file.filename}}" (click)="showDetails(file)" style="font-weight: bold;">
                  {{file.filename | extractFilename | maxLength}}
                </button>
                <!-- This code makes nested boxes closes recursively, while this issue is not solved in the AdminLTE, this code should stay commented.
                  Issue Link: https://github.com/almasaeed2010/AdminLTE/issues/1573
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  </div>
                -->
                <!-- /.box-tools -->
              </div>
              <!-- /.box-header -->
              <div class="box-body" style="border-bottom: 1px solid #c8c7d4;">

                <span *ngFor="let debt of file.debts" class="label span-analyze-debt disabled type-box"
                [ngClass] = "{
                  'bg-gray': debt.value == 0,
                  'bg-red': debt.value == 1,
                  'bg-yellow': debt.value == 2,
                  'bg-green': debt.value == 3 || debt.value == -1
                }">{{debt.name | removeChar}}
                  <!--<button class="btn btn-span-tool" (click)="removeDebt(file, debt)" 
                  onclick="this.parentElement.style.display='none';"><i class="fa fa-times"></i></button>
                  <button class="btn btn-span-tool"
                  onclick="this.style.display='none'; this.previousElementSibling.style.display='none'"
                  (click)="confirmDebt(file, debt)"><i class="fa fa-plus"></i></button>-->
                </span>

              </div>
              <!-- /.box-body -->
              <div class="box-body">
                <span class="label span-analyze-indicator indicator-box bg-aqua-active color-palette" *ngFor="let indicator of file.indicators">
                    {{indicator.name | removeChar}} 
                  </span>
              </div>

            </div>
            <!-- /.box -->
          </div>
        </form>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </section>
  <!-- /.content -->
</div>
